@charset "utf-8";
/* CSS Stykes For Custom Modal */

#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
z-index: 9999;
display: none;
opacity: 0.75;
}

.box.small2 {
width: 190px;
background: #fff;
border: 0px solid #111;
list-style-type: none;
font-family: Lucinda Sans Unicode, Lucinda Grande, sans-serif;
font-size: 12px;
font-weight: bold;
color: #ffffff;
text-align: center;
padding: 0px;
margin: 0px;
list-style-type: none;
}

#modalContainer
{
	width:100%;
	height:auto;	
}

#modalContainer .popout span[data-box]
{
	cursor:pointer;
	display: block;
background: #cecece;
list-style-type: none;
font-family: Lucinda Sans Unicode, Lucinda Grande, sans-serif;
font-size: 12px;
font-weight: bold;
color: #404040;
padding: 5px;
margin: 10px;
border-bottom: 0px solid #fff;
text-decoration: none;	
} 

#modalContainer .popout span[data-box]:hover
{
	background: #404040;
color: #fff;
border-bottom: 1px solid #404040;
list-style-type: none;	
}

.popOutBox
{
	padding:15px;
	width:800px;
	position:absolute;
	height:auto;
	border:5px solid #000;
	border-radius:10px;
	z-index:99999;
	background-color:white;
	color:black;
	top:-500px;
	
}

.close_link
{
	color:red;
	cursor:pointer;
	text-decoration:underline;	
}

.close_link:hover
{
	color:blue;
	text-decoration:none;	
}

.close_btn
{
	cursor:pointer;
	position:relative;
	float:right;
	width:29px;
	height:29px;
	background-image:url(../images/close-button.png);
	background-repeat:no-repeat;
	top: -20px;
	right: -25px;
} 